// header
header {
	.header_top_box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.phone_img {
		display: block;
		width: 22px;
		height: 22px;
		background: url(../images/menu1/phone.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.email_img {
		display: block;
		width: 20px;
		height: 15px;
		background: url(../images/menu1/email.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.map_img {
		display: block;
		width: 19px;
		height: 19px;
		background: url(../images/menu1/map.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.search_img {
		display: block;
		width: 20px;
		height: 20px;
		background: url(../images/menu1/search.png) no-repeat;
		background-size: cover;
		background-position: center;
		opacity: 0.5;
	}
	.avatar_img {
		display: block;
		width: 15px;
		height: 15px;
		background: url(../images/menu1/avatar.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.cart_img {
		display: block;
		width: 30px;
		height: 25px;
		background: url(../images/menu1/cart.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.about_img {
		display: block;
		width: 25px;
		height: 25px;
		background: url(../images/menu2/about.png) no-repeat;
		background-size: cover;
		background-position: center top;
	}
	.delivery_img {
		display: block;
		width: 30px;
		height: 20px;
		background: url(../images/menu2/delivery.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.discount_img {
		display: block;
		width: 25px;
		height: 25px;
		background: url(../images/menu2/discount.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.contact_img {
		display: block;
		width: 25px;
		height: 25px;
		background: url(../images/menu2/contact.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.new_img {
		display: block;
		width: 26px;
		height: 26px;
		background: url(../images/menu2/new.png) no-repeat;
		background-size: cover;
		background-position: center;
	}

	.header_top_wrapper {
		padding: 20px 0;
		border-bottom: 1px solid #f1f1f1;
	}
	.mobile_appear {
		display: none;
	}
	.header_start {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	.header_logo {
		margin-right: 10px;
	}
	.header_item {
		display: flex;
		gap: 8px;
	}
	.header_item_text {
		span {
			font-size: 16px;
			color: #000;
		}
		p {
			font-size: 13px;
			color: #000;
			text-align: center;
		}
	}
	.login {
		img {
			width: 15px;
		}
	}
	.card_btn {
		img {
			width: 25px;
		}
	}
	.header_input {
		position: relative;
		input {
			width: 235px;
			height: 30px;
			padding: 0 30px 0 8px;
			font-size: 16px;
			color: #000;
			border: 1px solid #d4d4d4;
			outline: none;
			border-radius: 5px;
			&::placeholder {
				color: #1d1d1f;
				opacity: 0.4;
			}
		}
		.search_icon {
			position: absolute;
			top: 5px;
			margin: auto;
			right: 5px;
		}
	}
	.header_end {
		display: flex;
		gap: 15px;
		align-items: center;
	}
	.login {
		display: flex;
		align-items: end;
		padding: 12px;
		gap: 5px;
		background-color: #e3e3e3;
		border-radius: 20px;
		transition: all ease-in 0.2s;
		&:hover {
			background-color: #c9c9c9;
		}
		span {
			font-size: 14px;
			color: #000;
		}
	}
	.card_btn {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 45px;
			background-color: #ffa800;
			border-radius: 50%;
		}
	}
	.header_bottom {
		padding: 9px 0;
	}
	.header_nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 100px;
		.nav_item a {
			display: flex;
			align-items: center;
			gap: 5px;
		}
		.nav_title {
			font-size: 16px;
			color: #000;
		}
	}
}

// submenu
.submenu {
	.submenu_top {
		padding: 10px 0;
		background-color: #e5e5e5;
		box-shadow: 0px 21px 37px -28px rgba(0, 0, 0, 0.6);
		position: relative;
	}
	.submenu_top_general_block {
		display: flex;
		gap: 10px;
		justify-content: center;
		width: 100%;
	}
	.submenu_top_block {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	.pirog {
		display: block;
		width: 63px;
		height: 63px;
		background-size: cover;
		background-position: center;
	}
	.submenu1 {
		background: url(../images/submenu1/1.png) no-repeat;
	}
	.submenu2 {
		background: url(../images/submenu1/2.png) no-repeat;
	}
	.submenu3 {
		background: url(../images/submenu1/3.png) no-repeat;
	}
	.submenu4 {
		background: url(../images/submenu1/4.png) no-repeat;
	}
	.submenu5 {
		background: url(../images/submenu1/5.png) no-repeat;
	}
	.submenu6 {
		background: url(../images/submenu1/6.png) no-repeat;
	}
	.submenu7 {
		width: 70px;
		background: url(../images/submenu1/7.png) no-repeat;
	}
	.submenu8 {
		width: 45px;
		background: url(../images/submenu1/8.png) no-repeat;
	}

	.submenu_top_item {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 10px;
		background-color: #fff;
		border-radius: 10px;
	}
	.submenu_top_title {
		font-size: 13.5px;
		color: #000;
	}
	.submenu_bottom_wrapper {
		padding: 10px 0;
		background-color: #f1f1f1;
	}
	.submenu_bottom_general_block {
		display: flex;
		justify-content: center;
	}
	.submenu_bottom_block {
		display: flex;
		justify-content: space-between;
		&:last-child {
			.submenu_bottom_item:nth-child(1) {
				display: none;
			}
		}
	}
	.submenu_bottom_item {
		padding: 0 27px;
		border-left: 1px solid #dbdbdb;
		&:first-child {
			border: none;
		}
		img {
			filter: grayscale(100%);
			max-width: 38px;
		}
	}

	.cow {
		background: url(../images/submenu2/cow.png) no-repeat;
	}
	.sheep {
		background: url(../images/submenu2/sheep.png) no-repeat;
	}
	.pig {
		background: url(../images/submenu2/pig.png) no-repeat;
	}
	.chicken {
		background: url(../images/submenu2/chicken.png) no-repeat;
	}
	.fish {
		background: url(../images/submenu2/fish.png) no-repeat;
	}
	.potato {
		background: url(../images/submenu2/potato.png) no-repeat;
	}
	.cabbage {
		background: url(../images/submenu2/cabbage.png) no-repeat;
	}
	.mushrooms {
		background: url(../images/submenu2/mushrooms.png) no-repeat;
	}
	.cheese {
		background: url(../images/submenu2/cheese.png) no-repeat;
	}
	.raspberry {
		background: url(../images/submenu2/raspberry.png) no-repeat;
	}
	.peanut {
		background: url(../images/submenu2/peanut.png) no-repeat;
	}
	.chocolate {
		background: url(../images/submenu2/inclined-chocolate-bar.png) no-repeat;
	}
	.harvest {
		background: url(../images/submenu2/harvest.png) no-repeat;
	}
	.submenu_bottom {
		display: block;
		width: 35px;
		height: 35px;
		background-size: cover;
		background-position: center;
	}
}

// swiper_product
.swiper_product {
	padding: 20px 0 40px 0;
	&.top_swiper {
		display: none;
	}
	img {
		width: 100%;
		object-fit: cover;

		border-radius: 20px;
	}
	.mySwiper {
		overflow: visible;
	}
}

// product
.product {
	margin-bottom: 70px;
	.product_title {
		margin-bottom: 20px;
		font-size: 24px;
		color: #000;
	}
	.product_block {
		display: flex;
		justify-content: space-between;
	}
	.product_img {
		text-align: center;
		img {
			width: 250px;
		}
	}
	.product_name {
		font-size: 18px;
		margin-bottom: 10px;
		text-align: center;
	}
	.product_desc {
		margin-bottom: 15px;
		font-size: 12px;
		text-align: center;
		min-height: 36px;
	}
	.product_item {
		flex: 0 0 auto;
		width: calc(25% - 26px);
	}
	.product_bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
	}
	.product_price {
		font-size: 16px;
	}
	.product_btn {
		padding: 13px 28px;
		background-color: #e3e3e3;
		color: #000;
		border-radius: 20px;
		transition: all ease-in 0.2s;
		&:hover {
			background-color: #c9c9c9;
		}
	}
}

footer {
	background-color: #f1f1f1;
	padding: 80px 0 0 0;
	.footer_block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
	}

	.phone {
		display: block;
		width: 26px;
		height: 26px;
		background: url(../images/footer/phone-b.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.pin {
		display: block;
		width: 25px;
		height: 25px;
		background: url(../images/footer/pin-b.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.mail {
		display: block;
		width: 25px;
		height: 17px;
		background: url(../images/footer/mail-b.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.time {
		display: block;
		width: 43px;
		height: 23px;
		background: url(../images/footer/time.png) no-repeat;
		background-size: cover;
		background-position: center;
	}

	.footer_item {
		flex: 0 0 auto;
		width: calc(25% - 64px);
		&.question {
			.footer_name {
				text-align: center;
			}
		}
	}
	.footer_name {
		color: #ad1c1d;
		font-size: 18px;
		margin-bottom: 15px;
		transition: all ease-in 0.2s;
		&:hover {
			color: #941818;
		}
	}
	.footer_details {
		display: flex;
		align-items: center;
		gap: 7px;
		margin-bottom: 30px;
		a {
			font-size: 18px;
			color: #444444;
		}
	}
	.footer_navs {
		display: flex;
		flex-direction: column;
		gap: 25px;
		li a {
			color: #000;
			font-size: 16px;
			display: flex;
			gap: 7px;
			align-items: center;
		}
		img {
			width: 20px;
		}
	}
	.footer_buttons {
		gap: 20px;
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;
		a {
			padding: 13px 0px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #ad1c1d;
			border-radius: 23px;
			font-size: 18px;
			color: #fff;
			transition: all ease-in 0.2s;
			&:hover {
				background-color: #941818;
			}
		}
	}
	.footer_socials {
		display: flex;
		gap: 20px;
		justify-content: center;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 45px;
			background-color: #ad1c1d;
			border-radius: 50%;
			transition: all ease-in 0.2s;

			&:hover {
				background-color: #941818;
			}
			&:nth-child(1),
			&:nth-child(2) {
				img {
					width: 25px;
				}
			}
			img {
				width: 30px;
			}
		}
	}
	.ask_question {
		font-size: 16px;
		color: #000;
		display: block;
		text-align: center;
	}
	.footer_bottom_wrapper {
		background-color: #444444;
		padding: 25px 0;
	}
	.footer_left {
		p {
			color: #cccccc;
		}
	}
	.footer_bottom {
		display: flex;
		justify-content: space-between;
	}
	.footer_right {
		p {
			color: #cccccc;
			text-align: end;
		}
	}
	.pie_img {
		display: block;
		width: 20px;
		height: 20px;
		background: url(../images/footer/pie.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
}
