// header
header {
	.header_top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header_top_wrapper {
		padding: 20px 0;
		border-bottom: 1px solid #f1f1f1;
	}
	.header_start {
		display: flex;
		align-items: center;
		gap: 40px;
	}
	.header_logo {
		margin-right: 10px;
	}
	.header_item {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.header_item_text {
		a {
			font-size: 16px;
			color: #000;
		}
		p {
			font-size: 13px;
			color: #000;
			text-align: center;
		}
	}
	.login {
		img {
			width: 15px;
		}
	}
	.card_btn {
		img {
			width: 25px;
		}
	}
	.header_input {
		position: relative;
		input {
			width: 235px;
			height: 30px;
			padding: 0 30px 0 8px;
			font-size: 16px;
			color: #000;
			border: 1px solid #d4d4d4;
			outline: none;
			border-radius: 5px;
			&::placeholder {
				color: #d4d4d4;
			}
		}
		.search_icon {
			position: absolute;
			top: 5px;
			margin: auto;
			right: 5px;
		}
	}
	.header_end {
		display: flex;
		gap: 15px;
		align-items: center;
	}
	.login {
		display: flex;
		align-items: end;
		padding: 12px;
		gap: 5px;
		background-color: #f4f4f4;
		border-radius: 20px;
		span {
			font-size: 14px;
			color: #000;
		}
	}
	.card_btn {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			height: 45px;
			background-color: #ffa800;
			border-radius: 50%;
		}
	}
	.header_bottom {
		padding: 9px 0;
	}
	.header_nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 100px;
		.nav_item a {
			display: flex;
			align-items: center;
			gap: 5px;
		}
		.nav_title {
			font-size: 16px;
			color: #000;
		}
	}
}

// submenu
.submenu {
	.submenu_top {
		padding: 10px 0;
		background-color: #e5e5e5;
		box-shadow: 0px 21px 37px -28px rgba(0, 0, 0, 0.6);
		position: relative;
	}
	.submenu_top_block {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	.submenu_top_item {
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 10px;
		background-color: #fff;
		border-radius: 10px;
	}
	.submenu_top_title {
		font-size: 13.5px;
		color: #000;
	}
	.submenu_bottom {
		padding: 10px 0;
		background-color: #f1f1f1;
	}
	.submenu_bottom_block {
		display: flex;
		justify-content: space-between;
	}
	.submenu_bottom_item {
		padding: 0 27px;
		border-left: 1px solid #dbdbdb;
		&:first-child {
			border: none;
		}
		img {
			filter: grayscale(100%);
			max-width: 38px;
		}
	}
}

// swiper_product
.swiper_product {
	padding: 20px 0 40px 0;
	img {
		width: 100%;
		object-fit: cover;

		border-radius: 20px;
	}
}

// product
.product {
	margin-bottom: 70px;
	.product_title {
		margin-bottom: 10px;
		font-size: 24px;
		color: #000;
	}
	.product_block {
		display: flex;
		justify-content: space-between;
	}
	.product_img {
		height: 225px;
	}
	.product_name {
		font-size: 18px;
		margin-bottom: 10px;
		text-align: center;
	}
	.product_desc {
		margin-bottom: 15px;
		font-size: 12px;
		text-align: center;
	}
	.product_item {
		flex: 0 0 auto;
		width: calc(25% - 26px);
	}
	.product_bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.product_price {
		font-size: 16px;
	}
	.product_btn {
		padding: 13px 28px;
		background-color: #e3e3e3;
		color: #000;
		border-radius: 15px;
	}
}

footer {
	background-color: #f1f1f1;
	padding: 80px 0 0 0;
	.footer_block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
	}
	.footer_item {
		flex: 0 0 auto;
		width: calc(25% - 64px);
	}
	.footer_name {
		color: #932322;
		font-size: 18px;
		margin-bottom: 15px;
	}
	.footer_details {
		display: flex;
		align-items: center;
		gap: 7px;
		margin-bottom: 30px;
		a {
			font-size: 18px;
			color: #444444;
		}
	}
	.footer_navs {
		display: flex;
		flex-direction: column;
		gap: 25px;
		li a {
			color: #000;
			font-size: 16px;
			display: flex;
			gap: 7px;
			align-items: center;
		}
		img {
			width: 20px;
		}
	}
	.footer_buttons {
		gap: 20px;
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;
		a {
			padding: 13px 0px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #932322;
			border-radius: 15px;
			font-size: 18px;
			color: #fff;
		}
	}
	.footer_socials {
		display: flex;
		gap: 20px;
		justify-content: center;
	}
	.ask_question {
		font-size: 16px;
		color: #000;
		display: block;
		text-align: center;
	}
	.footer_bottom_wrapper {
		background-color: #444444;
		padding: 25px 0;
	}
	.footer_left {
		p {
			color: #cccccc;
		}
	}
	.footer_bottom {
		display: flex;
		justify-content: space-between;
	}
	.footer_right {
		p {
			color: #cccccc;
			text-align: end;
		}
	}
}
