.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0;
}
@media (max-width: 1300px) {
	.container {
		max-width: 960px;
	}
	header .header_top_box {
		gap: 20px 0;
	}
	.product .product_img img {
		width: 100%;
	}
	footer .footer_item {
		width: calc(25% - 15px);
	}
	.product .product_btn {
		padding: 8px 15px;
	}
	.product .product_name {
		min-height: 35px;
	}
	header .header_item.email {
		display: none;
	}
	.submenu .submenu_bottom_general_block {
		flex-wrap: wrap;
	}
	.submenu .submenu_bottom_block {
		flex-wrap: wrap;
		justify-content: start;
		&:last-child {
			.submenu_bottom_item:nth-child(1) {
				display: inline;
			}
		}
	}
	.submenu .submenu_bottom_item {
		border-left: none;
		position: relative;
		&:last-child {
			&::after {
				width: 0;
			}
		}
		&::after {
			content: "";
			width: 1px;
			height: 50%;
			background-color: #dbdbdb;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 0px;
			z-index: 4;
		}
	}
	.submenu .submenu_top_general_block {
		justify-content: center;
		gap: 20px;
	}
	.submenu .submenu_top_block {
		gap: 20px;
		&:nth-child(n + 3) {
			display: none;
		}
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	header .header_start {
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
	}
	.submenu .submenu_bottom_item {
		padding: 3px 27px;
	}
	.product .product_desc {
		min-height: 28px;
	}
	.product .product_name {
		min-height: 17px;
	}
	header .header_item.telephone {
		display: none;
	}
	.product .product_block {
		flex-wrap: wrap;
	}
	.product .product_item {
		width: 45%;
	}
	footer .footer_block {
		flex-wrap: wrap;
		margin-bottom: 40px;
		gap: 35px;
	}
	footer .footer_item {
		width: 46%;
	}
	footer .footer_navs {
		gap: 14px;
	}
	.submenu {
		.submenu_top {
			box-shadow: none;
			background-color: #f1f1f1;
		}
		.submenu_top_general_block {
			flex-wrap: wrap;
		}
		.submenu_top_block {
			width: 100%;
		}
		.submenu_top_item {
			width: 33%;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
		}
		.submenu_bottom_general_block {
			border-radius: 20px;
		}
		.submenu_bottom_block {
			background-color: #fff;
			padding: 10px;
			&:first-child {
				border-radius: 15px 15px 0 0;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
				border-bottom: 1px solid #dbdbdb;
			}
			&:last-child {
				border-radius: 0 0 15px 15px;
				box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
			}
		}
	}
	header {
		.header_nav {
			gap: 45px;
			flex-wrap: wrap;
			justify-content: space-between;
			.nav_item:nth-child(n + 5) {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	header {
		background-color: #f1f1f1;
		.header_bottom {
			padding: 18px 0 9px;
		}
		.header_top_wrapper {
			background-color: #f1f1f1;
			box-shadow: 0 10px 7px -10px rgba(0, 0, 0, 0.3);
		}
		.header_nav {
			gap: 10px;
			justify-content: space-around;
			.nav_item {
				width: 30%;
				background-color: #fff;
				padding: 10px 15px;
				border-radius: 6px;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
			}
			.nav_item:nth-child(n + 4) {
				display: none;
			}
		}
	}
	.shopping_img {
		width: 30px;
		display: block;
		height: 30px;
		border-radius: 50%;
		background-color: #e3e3e3;
		background-image: url(../images/mobile/shopping.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 18px 15px;
		margin: 5px;
	}
	.product .product_img img {
		width: 250px;
	}
	.close {
		display: none;
	}
	header .header_top_box {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 100vh;
		flex-direction: column;
		justify-content: start;
		padding-top: 100px;
		gap: 30px;
		z-index: 5;
		background-color: #fff;
		left: -100%;
		transition: all ease-in 0.2s;
		&.active {
			left: 0;
			.close {
				display: block;
			}
		}
	}
	.header .header_start {
		gap: 30px;
		flex-direction: column;
		justify-content: start;
	}
	header .mobile_appear {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.hamburger,
	.logo {
		img {
			width: 35px;
		}
	}
	.close {
		position: absolute;
		top: 25px;
		right: 30px;
		z-index: 100;
		img {
			object-fit: cover;
			width: 23px;
		}
	}
	.avatar {
		img {
			width: 25px;
			height: 25px;
			object-position: center;
			object-fit: cover;
		}
	}
	.swiper_product {
		display: none;
		padding: 8px 0;
	}
	.top_swiper {
		display: block;
	}
	footer .footer_bottom {
		flex-wrap: wrap;
		gap: 20px;
	}
	footer .footer_right p {
		text-align: center;
	}

	footer .footer_details a {
		font-size: 16px;
	}
	footer {
		background-color: #f1f1f1;
		padding: 50px 0 0 0;
	}
	.submenu .submenu_bottom_item img {
		filter: grayscale(0%);
		max-width: 35px;
	}
	.submenu .submenu_bottom_block {
		padding: 10px 0;
		background: #fff;
		border-radius: 20px;
	}
	.product {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	.product .product_block {
		flex-direction: column;
	}
	.product_img img {
		width: 180px;
	}
	.mobile_appear {
		display: block;
	}
	.product .product_img {
		height: unset;
	}
	.product_btn {
		display: none;
	}
	.product .product_item {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.shopping {
		img {
			width: 30px;
		}
	}
	.product .product_name {
		font-size: 15px;
		margin-bottom: 5px;
		text-align: left;
	}
	.product .product_desc {
		margin-bottom: 10px;
		text-align: start;
	}
	.product .product_title {
		margin-bottom: 17px;
		font-size: 18px;
		color: #ad1c1d;
		transition: all ease-in 0.2s;
		&:hover {
			color: #941818;
		}
	}

	.mobile_footer_block {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 6666;
		padding: 15px 20px;
		width: 100%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px -5px 11px -9px rgba(0, 0, 0, 0.6);
	}
	footer {
		margin-bottom: 70px;
	}
	.mobile_name {
		font-size: 12px;
		color: #000;
		margin-top: 5px;
	}
	.icon {
		text-align: center;
		display: block;
		img {
			height: 25px;
			object-fit: contain;
			width: 25px;
		}
	}
	.submenu .submenu_bottom_block {
		justify-content: center;
	}
	footer .footer_block,
	footer .footer_bottom_wrapper {
		display: none;
	}
	.submenu .submenu_bottom_item {
		padding: 5px 20px;
		&.active {
			background-color: #e5e5e5;
			&::after {
				content: none;
			}
		}
	}
	.submenu .submenu_bottom_item img {
		max-width: 30px;
	}
	.swiper_product {
		display: none;
		&.top_swiper {
			display: flex;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		&::after {
			width: 20px;
			font-size: 25px;
		}
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 20px;
	}
	header {
		background-color: #f1f1f1;
		.header_bottom {
			padding: 18px 0 9px;
		}
		.header_top_wrapper {
			background-color: #f1f1f1;
			box-shadow: 0 10px 7px -10px rgba(0, 0, 0, 0.3);
		}
		.header_nav {
			gap: 8px;
			justify-content: space-around;
			.nav_title {
				font-size: 12px;
			}
			.nav_item {
				width: 30%;
				background-color: #fff;
				padding: 10px 15px;
				border-radius: 6px;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
			}
		}
	}
	.submenu {
		.pirog {
			background-size: 42px;
			background-size: 42px;
			width: 42px;
			height: 42px;
		}
		.submenu_top_general_block {
			gap: 10px;
		}
		.submenu_top_block {
			gap: 10px;
		}
		.submenu_top_item {
			gap: 6px;
			padding: 8px;
		}
		.submenu_top_title {
			font-size: 12px;
		}
		.submenu_bottom_general_block {
			border-radius: 20px;
		}
		.submenu_bottom_block {
			width: 100%;
			justify-content: space-around;
			padding: 5px;
			&:first-child {
				border-radius: 15px 15px 0 0;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
				border-bottom: 1px solid #dbdbdb;
			}
			&:last-child {
				border-radius: 0 0 15px 15px;
				box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
			}
		}
		.submenu_bottom_item {
			padding: 5px 15px 5px 7px;
		}
		.submenu_bottom {
			background-size: 25px 25px;
			max-width: 25px;
			max-height: 25px;
		}
		.submenu_bottom_wrapper {
			padding: 8px 0 16px;
		}
	}
}
@media (max-width: 425px) {
	.container {
		padding: 0 10px;
	}
	.submenu {
		.pirog {
			background-size: 42px;
			background-size: 42px;
			width: 42px;
			height: 42px;
		}
		.submenu_top_general_block {
			gap: 8px;
		}
		.submenu_top_block {
			gap: 8px;
		}
		.submenu_top_item {
			gap: 4px;
			padding: 6px;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		.submenu_top_title {
			font-size: 11px;
		}
	}

	header .header_nav .nav_item a {
		flex-direction: column;
	}
	.submenu .submenu_bottom_item:last-child {
		display: none;
	}
	.product .product_item {
		flex-direction: column;
	}
	.product .product_name,
	.product .product_desc {
		text-align: center;
	}
}
