html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #693028;
  width: 3px;
}

.mobile_appear {
  display: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SFpro Text Regular";
  background: #ffffff;
  color: #1d1d1f;
}

.wrapper {
  overflow: hidden;
}

header .header_top_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .phone_img {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/menu1/phone.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .email_img {
  display: block;
  width: 20px;
  height: 15px;
  background: url(../images/menu1/email.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .map_img {
  display: block;
  width: 19px;
  height: 19px;
  background: url(../images/menu1/map.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .search_img {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/menu1/search.png) no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
header .avatar_img {
  display: block;
  width: 15px;
  height: 15px;
  background: url(../images/menu1/avatar.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .cart_img {
  display: block;
  width: 30px;
  height: 25px;
  background: url(../images/menu1/cart.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .about_img {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/menu2/about.png) no-repeat;
  background-size: cover;
  background-position: center top;
}
header .delivery_img {
  display: block;
  width: 30px;
  height: 20px;
  background: url(../images/menu2/delivery.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .discount_img {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/menu2/discount.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .contact_img {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/menu2/contact.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .new_img {
  display: block;
  width: 26px;
  height: 26px;
  background: url(../images/menu2/new.png) no-repeat;
  background-size: cover;
  background-position: center;
}
header .header_top_wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
}
header .mobile_appear {
  display: none;
}
header .header_start {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .header_logo {
  margin-right: 10px;
}
header .header_item {
  display: flex;
  gap: 8px;
}
header .header_item_text span {
  font-size: 16px;
  color: #000;
}
header .header_item_text p {
  font-size: 13px;
  color: #000;
  text-align: center;
}
header .login img {
  width: 15px;
}
header .card_btn img {
  width: 25px;
}
header .header_input {
  position: relative;
}
header .header_input input {
  width: 235px;
  height: 30px;
  padding: 0 30px 0 8px;
  font-size: 16px;
  color: #000;
  border: 1px solid #d4d4d4;
  outline: none;
  border-radius: 5px;
}
header .header_input input::-moz-placeholder {
  color: #1d1d1f;
  opacity: 0.4;
}
header .header_input input::placeholder {
  color: #1d1d1f;
  opacity: 0.4;
}
header .header_input .search_icon {
  position: absolute;
  top: 5px;
  margin: auto;
  right: 5px;
}
header .header_end {
  display: flex;
  gap: 15px;
  align-items: center;
}
header .login {
  display: flex;
  align-items: end;
  padding: 12px;
  gap: 5px;
  background-color: #e3e3e3;
  border-radius: 20px;
  transition: all ease-in 0.2s;
}
header .login:hover {
  background-color: #c9c9c9;
}
header .login span {
  font-size: 14px;
  color: #000;
}
header .card_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #ffa800;
  border-radius: 50%;
}
header .header_bottom {
  padding: 9px 0;
}
header .header_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
header .header_nav .nav_item a {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header_nav .nav_title {
  font-size: 16px;
  color: #000;
}

.submenu .submenu_top {
  padding: 10px 0;
  background-color: #e5e5e5;
  box-shadow: 0px 21px 37px -28px rgba(0, 0, 0, 0.6);
  position: relative;
}
.submenu .submenu_top_block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.submenu .pirog {
  display: block;
  width: 63px;
  height: 63px;
  background-size: cover;
  background-position: center;
}
.submenu .submenu1 {
  background: url(../images/submenu1/1.png) no-repeat;
}
.submenu .submenu2 {
  background: url(../images/submenu1/2.png) no-repeat;
}
.submenu .submenu3 {
  background: url(../images/submenu1/3.png) no-repeat;
}
.submenu .submenu4 {
  background: url(../images/submenu1/4.png) no-repeat;
}
.submenu .submenu5 {
  background: url(../images/submenu1/5.png) no-repeat;
}
.submenu .submenu6 {
  background: url(../images/submenu1/6.png) no-repeat;
}
.submenu .submenu7 {
  width: 70px;
  background: url(../images/submenu1/7.png) no-repeat;
}
.submenu .submenu8 {
  width: 45px;
  background: url(../images/submenu1/8.png) no-repeat;
}
.submenu .submenu_top_item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.submenu .submenu_top_title {
  font-size: 13.5px;
  color: #000;
}
.submenu .submenu_bottom_wrapper {
  padding: 10px 0;
  background-color: #f1f1f1;
}
.submenu .submenu_bottom_block {
  display: flex;
  justify-content: space-between;
}
.submenu .submenu_bottom_item {
  padding: 0 27px;
  border-left: 1px solid #dbdbdb;
}
.submenu .submenu_bottom_item:first-child {
  border: none;
}
.submenu .submenu_bottom_item img {
  filter: grayscale(100%);
  max-width: 38px;
}
.submenu .cow {
  background: url(../images/submenu2/cow.png) no-repeat;
}
.submenu .sheep {
  background: url(../images/submenu2/sheep.png) no-repeat;
}
.submenu .pig {
  background: url(../images/submenu2/pig.png) no-repeat;
}
.submenu .chicken {
  background: url(../images/submenu2/chicken.png) no-repeat;
}
.submenu .fish {
  background: url(../images/submenu2/fish.png) no-repeat;
}
.submenu .potato {
  background: url(../images/submenu2/potato.png) no-repeat;
}
.submenu .cabbage {
  background: url(../images/submenu2/cabbage.png) no-repeat;
}
.submenu .mushrooms {
  background: url(../images/submenu2/mushrooms.png) no-repeat;
}
.submenu .cheese {
  background: url(../images/submenu2/cheese.png) no-repeat;
}
.submenu .raspberry {
  background: url(../images/submenu2/raspberry.png) no-repeat;
}
.submenu .peanut {
  background: url(../images/submenu2/peanut.png) no-repeat;
}
.submenu .chocolate {
  background: url(../images/submenu2/inclined-chocolate-bar.png) no-repeat;
}
.submenu .harvest {
  background: url(../images/submenu2/harvest.png) no-repeat;
}
.submenu .submenu_bottom {
  display: block;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
}

.swiper_product {
  padding: 20px 0 40px 0;
}
.swiper_product img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.swiper_product .mySwiper {
  overflow: visible;
}

.product {
  margin-bottom: 70px;
}
.product .product_title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
}
.product .product_block {
  display: flex;
  justify-content: space-between;
}
.product .product_img {
  text-align: center;
}
.product .product_img img {
  width: 250px;
}
.product .product_name {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.product .product_desc {
  margin-bottom: 15px;
  font-size: 12px;
  text-align: center;
  min-height: 36px;
}
.product .product_item {
  flex: 0 0 auto;
  width: calc(25% - 26px);
}
.product .product_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.product .product_price {
  font-size: 16px;
}
.product .product_btn {
  padding: 13px 28px;
  background-color: #e3e3e3;
  color: #000;
  border-radius: 20px;
  transition: all ease-in 0.2s;
}
.product .product_btn:hover {
  background-color: #c9c9c9;
}

footer {
  background-color: #f1f1f1;
  padding: 80px 0 0 0;
}
footer .footer_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
footer .phone {
  display: block;
  width: 26px;
  height: 26px;
  background: url(../images/footer/phone-b.png) no-repeat;
  background-size: cover;
  background-position: center;
}
footer .pin {
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/footer/pin-b.png) no-repeat;
  background-size: cover;
  background-position: center;
}
footer .mail {
  display: block;
  width: 25px;
  height: 17px;
  background: url(../images/footer/mail-b.png) no-repeat;
  background-size: cover;
  background-position: center;
}
footer .time {
  display: block;
  width: 43px;
  height: 23px;
  background: url(../images/footer/time.png) no-repeat;
  background-size: cover;
  background-position: center;
}
footer .footer_item {
  flex: 0 0 auto;
  width: calc(25% - 64px);
}
footer .footer_item.question .footer_name {
  text-align: center;
}
footer .footer_name {
  color: #ad1c1d;
  font-size: 18px;
  margin-bottom: 15px;
  transition: all ease-in 0.2s;
}
footer .footer_name:hover {
  color: #941818;
}
footer .footer_details {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
footer .footer_details a {
  font-size: 18px;
  color: #444444;
}
footer .footer_navs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer_navs li a {
  color: #000;
  font-size: 16px;
  display: flex;
  gap: 7px;
  align-items: center;
}
footer .footer_navs img {
  width: 20px;
}
footer .footer_buttons {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
footer .footer_buttons a {
  padding: 13px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ad1c1d;
  border-radius: 23px;
  font-size: 18px;
  color: #fff;
  transition: all ease-in 0.2s;
}
footer .footer_buttons a:hover {
  background-color: #941818;
}
footer .footer_socials {
  display: flex;
  gap: 20px;
  justify-content: center;
}
footer .footer_socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #ad1c1d;
  border-radius: 50%;
  transition: all ease-in 0.2s;
}
footer .footer_socials a:hover {
  background-color: #941818;
}
footer .footer_socials a:nth-child(1) img, footer .footer_socials a:nth-child(2) img {
  width: 25px;
}
footer .footer_socials a img {
  width: 30px;
}
footer .ask_question {
  font-size: 16px;
  color: #000;
  display: block;
  text-align: center;
}
footer .footer_bottom_wrapper {
  background-color: #444444;
  padding: 25px 0;
}
footer .footer_left p {
  color: #cccccc;
}
footer .footer_bottom {
  display: flex;
  justify-content: space-between;
}
footer .footer_right p {
  color: #cccccc;
  text-align: end;
}
footer .pie_img {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/footer/pie.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
  header .header_top_box {
    gap: 20px 0;
  }
  .product .product_img img {
    width: 100%;
  }
  footer .footer_item {
    width: calc(25% - 15px);
  }
  .product .product_btn {
    padding: 8px 15px;
  }
  .product .product_name {
    min-height: 35px;
  }
  header .header_item.email {
    display: none;
  }
  .submenu .submenu_bottom_block {
    flex-wrap: wrap;
    justify-content: start;
  }
  .submenu .submenu_bottom_item {
    border-left: none;
    position: relative;
  }
  .submenu .submenu_bottom_item::after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #dbdbdb;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0px;
    z-index: 4;
  }
  .submenu .submenu_top_item:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  header .header_start {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .submenu .submenu_bottom_item {
    padding: 3px 27px;
  }
  .product .product_desc {
    min-height: 28px;
  }
  .product .product_name {
    min-height: 17px;
  }
  header .header_item.telephone {
    display: none;
  }
  .product .product_block {
    flex-wrap: wrap;
  }
  .product .product_item {
    width: 45%;
  }
  footer .footer_block {
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 35px;
  }
  footer .footer_item {
    width: 46%;
  }
  footer .footer_navs {
    gap: 14px;
  }
  .submenu .submenu_top_item:nth-child(n+5) {
    display: none;
  }
  header .header_nav {
    gap: 45px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  header .header_nav {
    gap: 10px 45px;
  }
  .shopping_img {
    width: 30px;
    display: block;
    height: 30px;
    border-radius: 50%;
    background-color: #e3e3e3;
    background-image: url(../images/mobile/shopping.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 15px;
    margin: 5px;
  }
  .product .product_img img {
    width: 250px;
  }
  .close {
    display: none;
  }
  header .header_top_box {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    padding-top: 100px;
    gap: 30px;
    z-index: 5;
    background-color: #fff;
    left: -100%;
    transition: all ease-in 0.2s;
  }
  header .header_top_box.active {
    left: 0;
  }
  header .header_top_box.active .close {
    display: block;
  }
  .header .header_start {
    gap: 30px;
    flex-direction: column;
    justify-content: start;
  }
  header .mobile_appear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .hamburger img,
  .logo img {
    width: 35px;
  }
  .close {
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 100;
  }
  .close img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 23px;
  }
  .avatar img {
    width: 25px;
    height: 25px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .header_bottom,
  .submenu .submenu_top,
  .swiper_product {
    display: none;
  }
  footer .footer_bottom {
    flex-wrap: wrap;
    gap: 20px;
  }
  footer .footer_right p {
    text-align: center;
  }
  .submenu .submenu_top_item:nth-child(n+4) {
    display: none;
  }
  footer .footer_details a {
    font-size: 16px;
  }
  footer {
    background-color: #f1f1f1;
    padding: 50px 0 0 0;
  }
  .submenu .submenu_bottom_item img {
    filter: grayscale(0%);
    max-width: 35px;
  }
  .submenu .submenu_bottom_block {
    padding: 10px 0;
    background: #fff;
    border-radius: 20px;
  }
  .product {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .product .product_block {
    flex-direction: column;
  }
  .product_img img {
    width: 180px;
  }
  .mobile_appear {
    display: block;
  }
  .product .product_img {
    height: unset;
  }
  .product_btn {
    display: none;
  }
  .product .product_item {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .shopping img {
    width: 30px;
  }
  .product .product_name {
    font-size: 15px;
    margin-bottom: 5px;
    text-align: left;
  }
  .product .product_desc {
    margin-bottom: 10px;
    text-align: start;
  }
  .product .product_title {
    margin-bottom: 17px;
    font-size: 18px;
    color: #ad1c1d;
    transition: all ease-in 0.2s;
  }
  .product .product_title:hover {
    color: #941818;
  }
  .mobile_footer_block {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 6666;
    padding: 15px 20px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -5px 11px -9px rgba(0, 0, 0, 0.6);
  }
  footer {
    margin-bottom: 70px;
  }
  .mobile_name {
    font-size: 12px;
    color: #000;
    margin-top: 5px;
  }
  .icon {
    text-align: center;
    display: block;
  }
  .icon img {
    height: 25px;
    -o-object-fit: contain;
       object-fit: contain;
    width: 25px;
  }
  .submenu .submenu_bottom_block {
    justify-content: center;
  }
  footer .footer_block,
  footer .footer_bottom_wrapper {
    display: none;
  }
  .submenu .submenu_bottom_item {
    padding: 5px 20px;
  }
  .submenu .submenu_bottom_item.active {
    background-color: #e5e5e5;
  }
  .submenu .submenu_bottom_item.active::after {
    content: none;
  }
  .submenu .submenu_bottom_item img {
    max-width: 30px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}